node_modules/
package-lock.json

example-html/node_modules/
example-html/package-lock.json

example-vue1/node_modules/
example-vue2/node_modules/
example-vue3/node_modules/
example-vue4/node_modules/
example-vue5/node_modules/
example-vue6/node_modules/

example-vue1/public/dist/
example-vue2/public/dist/
example-vue3/public/dist/
example-vue4/public/dist/
example-vue5/public/dist/
example-vue6/public/dist/

example-vue1/package-lock.json
example-vue2/package-lock.json
example-vue3/package-lock.json
example-vue4/package-lock.json
example-vue5/package-lock.json
example-vue6/package-lock.json
