@media (max-width: 1199px) and (min-width: 992px) {
    .wrapper.home .round-box {
        width: 131px;
        height: 131px;
    }
    .wrapper.home .round-box .icons img {
        margin: 12px auto;
        width: 50px;
        height: 50px;
    }
    .mobile-top {
        height: 30px;
    }
    .hot-data-in {
        @include flexbox;
        flex-direction: row;
        .hot-data-head {}
        .hot-data-body {}
    }
}

@media (min-width:992px) {
    .header .logo img {
        margin-bottom: 0;
    }
    .header .navbar-collapse {
        margin-top: -20px;
    }
}

@media (max-width:1199px) {
    .kv-container {
        .kv-star {
            top: 0em;
            left: 40%;
        }
        .kv-calendar {
            top: 1em;
        }
        .kv-tree1 {
            left: 12%;
        }
        .kv-tree2 {
            right: 10%;
        }
        .kv-man3 {
            left: 20%;
        }
        .kv-sun {
            right: 20%;
        }
        .kv-woman-bike1 {
            top: 7em;
            right: 34%;
        }
    }
}

@media (max-width:1024px) {
    .wrapper.home2 .hot-data .hot-data-head h3 {
        font-size: 17px;
    }
    .wrapper.home2 .hot-data .hot-data-body ul {
        padding-left: 25px;
    }
    .wrapper.home2 .hot-data .hot-data-body ul li a {
        font-size: 13px;
    }
    .wrapper.home2 .key-title {
        font-size: 40px;
    }
    wrapper.home2 .key-content {
        font-size: 25px;
    }
}

@media (max-width:992px) {
    // .bg-animate{overflow: hidden;}
    .kv-container {
        .kv-location {
            right: 36%;
        }
        .kv-robot3 {
            right: 3%;
        }
        .kv-robot2 {
            right: 15%;
        }
        .kv-robot1 {
            bottom: 8em;
            right: 30%;
        }
        .kv-icon1 {
            left: 5%;
        }
        .kv-icon2,
        .kv-man3 {
            left: 10%;
        }
        .kv-star {
            top: 0em;
            left: 30%;
        }
        .kv-calendar {
            top: 1em;
            left: 20%;
        }
        .kv-tree1 {
            left: 0%;
        }
        .kv-tree2 {
            right: 0%;
        }
        .kv-car {
            right: 10%;
        }
        .kv-man2 {
            left: 34%;
        }
        .kv-woman2 {
            left: 41.2%;
        }
        .kv-woman-bike1 {
            top: 9em;
            right: 31%;
        }
        @keyframes kv-cloud1 {
            0% {
                right: 46%;
            }
            50% {
                right: 45%;
            }
            100% {
                right: 46%;
            }
        }
        @keyframes kv-cloud2 {
            0% {
                left: 41%;
            }
            50% {
                left: 42%;
            }
            100% {
                left: 41%;
            }
        }
        @keyframes kv-location {
            0% {
                top: 4em;
            }
            50% {
                top: 5em;
            }
            100% {
                top: 4em;
            }
        }
        @keyframes kv-man1 {
            0% {
                top: 14em;
                left: 16%;
            }
            50% {
                top: 13em;
                left: 17.5%;
            }
            100% {
                top: 14em;
                left: 16%;
            }
        }
        @keyframes kv-man-bike {
            0% {
                top: 11em;
                left: 23%;
            }
            50% {
                top: 10.5em;
                left: 25%;
            }
            100% {
                top: 11em;
                left: 23%;
            }
        }
        @keyframes kv-woman-bike2 {
            0% {
                bottom: 1em;
                left: 32%;
            }
            50% {
                bottom: 1.5em;
                left: 33%;
            }
            100% {
                bottom: 1em;
                left: 32%;
            }
        }
    }
    .kv-v2 {
        height: 13em;
    }
    .bg-animate {
        position: absolute;
        .ball,
        .tr-b,
        .plan,
        .snow,
        .plan,
        .rain,
        .tr,
        .lightning {
            display: none;
        }
        .line {
            -moz-transform: rotate(42deg);
            -webkit-transform: rotate(42deg);
            -o-transform: rotate(42deg);
            -ms-transform: rotate(42deg);
            transform: rotate(42deg);
            top: -14em;
        }
        .cloud {
            bottom: initial;
            top: 0;
        }
        .sun {
            bottom: inherit;
            top: 0;
        }
    }
}

@media (min-width:768px) {
    .wrapper.home .hot-data .hot-data-head h3 {
        padding: 15px 0;
    }
    .wrapper.home .round-box {
        margin-bottom: 20px;
    }
    /* header.datamain .navbar-nav,
    header.dev-manual .navbar-nav,
    header.faqpage .navbar-nav,
    header.promote .navbar-nav,
    header.search .navbar-nav {
        margin: -10px 0 -23px;
    }  */
    //平板以上
    .round-box {
        max-width: 165px;
        height: 165px;
    }
    .wrapper.home2 .round-box {
        max-width: auto;
        height: auto;
        margin: 10px;
    }
}

@media (max-width:769px) {
    .mobile-top {
        height: 55px;
    }
    .header .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        .container {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
    .wrapper.home2 .round-box {
        margin-bottom: 10px;
    }
    .nav.navbar-nav {
        label {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            display: block;
            input {
                width: 100%;
                padding: 0.5em;
                @include border-radius (10px);
                border: 1px solid $base-gray;
            }
        }
    }
    .wrapper.home2 .btn-code {
        border: 1px solid #fff;
        background: $base-red;
        color: $base-gray!important;
        &:hover {
            color: #fff!important;
            // background: $base-blue!important;
            border-bottom: solid 2px $base-lt-blue!important;
        }
    }
    .wrapper.home .btn-code {
        border: 1px solid #fff;
        background: $base-red;
        color: $base-gray!important;
        &:hover {
            color: #fff!important;
            // background: $base-blue!important;
            border-bottom: solid 2px $base-lt-blue!important;
        }
    }
    .wrapper.home .round-box {
        width: 165px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .kv-v2 {
        height: 8em;
        .bg-animate {
            .line {
                top: -13em;
                left: 5em;
                width: 70%;
            }
            .pathcloud {
                top: 6%;
                width: 100px;
            }
            .sun,
            .cloud {
                width: 100px;
            }
            .cloud {
                top: 2em;
            }
        }
    }
}

@media (max-width:640px) {
    .wrapper.home .hot-data {
        border: 12px solid #95d2f0;
    }
    .wrapper.home .hot-data .row {
        background: rgba(0, 0, 0, 0);
    }
    .wrapper.home .hot-data .hot-data-body {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 10px;
        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .wrapper.home .hot-data .hot-data-head h3 {
        padding: 15px 0;
    }
    .wrapper.home .round-box {
        margin-bottom: 20px;
    }
    .wrapper.home .round-box {
        width: 150px;
        height: 150px;
    }
    .nav.navbar-nav {
        label {
            margin-top: auto;
        }
    }
    .mobile-top {
        height: 40px;
    }
    .header .logo img {
        padding-top: 6px;
        margin-top: 0;
    }
    .header .navbar-nav > li > a {
        color: #fff;
    }
    .header .navbar-nav > li > a:hover {
        color: #fff;
    }
    .nav.navbar-nav .open > a,
    .nav.navbar-nav .open > a:focus,
    .nav.navbar-nav .open > a:hover {
        color: #fff;
        background: $base-blue;
    }
    .header .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    //home type1
    .wrapper.home .header .navbar-nav > li > a {
        color: $base-blue;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: #fff;
        }
    }
    .wrapper.home .header .navbar-nav .open .dropdown-menu > li > a {
        color: $base-blue;
    }
    .header .dropdown-submenu > .dropdown-menu {
        padding-right: 15px;
        a {
            color: $base-blue;
        }
    }
    .kv-container {
        .kv-tree1,
        .kv-tree2,
        .kv-star,
        .kv-robot4 {
            display: none;
        }
        .kv-sun {
            right: 10%;
            top: 5em;
            width: 80px;
            height: 80px;
        }
        .kv-icon1 {
            left: 0%;
            width: 50px;
            height: 40px;
        }
        .kv-icon2,
        .kv-man3 {
            left: 5%;
        }
        .kv-woman2 {
            left: 39.2%;
        }
        .kv-robot1 {
            bottom: 7em;
            right: 37%;
        }
        .kv-cloud1 {
            width: 70px;
            height: 55px;
        }
        .kv-icon2 {
            width: 40px;
            height: 40px;
        }
        .kv-location {
            width: 40px;
            height: 50px;
        }
        .kv-woman-bike1 {
            right: 27%;
        }
    }
    .kv-v2 .bg-animate {
        .line {
            top: -11em;
            left: 1em;
        }
    }
}

@media (max-width:540px) {
    .kv-container {
        height: 32em;
        .kv-title {
            bottom: 0em;
        }
        .kv-woman2 {
            display: none;
        }
        .kv-calendar {
            display: none;
        }
        @keyframes kv-cloud1 {
            0% {
                right: 53%;
            }
            50% {
                right: 58%;
            }
            100% {
                right: 53%;
            }
        }
        @keyframes kv-cloud2 {
            0% {
                left: 20%;
            }
            50% {
                left: 25%;
            }
            100% {
                left: 20%;
            }
        }
    }
}

@media (max-width:480px) {
    //start mobile
    .snap-right {
        position: absolute;
        right: 15px;
        top: -60px;
    }
    .wrapper.home2 {
        .key-title {
            font-size: $lg-font;
            font-weight: bold;
            color: #fff;
            letter-spacing: 5px;
            text-align: center;
            padding-left: 0;
        }
    }
    .wrapper.home2 {
        .key-content {
            font-size: $lg-font;
            font-weight: bold;
            color: #fff;
            letter-spacing: 5px;
            text-align: center;
            padding-left: 0;
        }
    }
    .wrapper.home .round-box {
        width: 135px;
        height: 135px;
        .icons img {
            margin: 10px auto;
            width: 55px;
            height: 55px;
        }
    }
    .wrapper.home2 {
        background-image: url("/dist/img/home/type2-bg.jpg");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        .kv-container {
            text-align: center;
            img {
                border: none;
                padding: 0;
                margin: 0 auto;
            }
        }
        .view-info {
            font-size: $xs-font;
            padding: 20px 0 10px;
            color: #fff;
        }
        .download-info {
            text-align: center;
            span {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .round-box {
            margin-bottom: 30px;
        }
        .hot-data {
            margin-top: 0;
            margin-bottom: 15px;
            .hot-data-head {
                h3 {
                    padding: 10px;
                    margin: 30px 0;
                }
            }
            .hot-data-body {
                ul {
                    margin-top: 0;
                    margin-bottom: 0;
                    li {
                        padding: 10px 0;
                        a {
                            font-size: xs-font;
                            color: #fff;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    input[type=search] {
        background: #ededed url("/dist/img/search-icon.png") no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 5px 10px 5px 32px;
        width: 55px;
        &:focus {
            width: 130px;
            background-color: #fff;
            border-color: $base-lt-blue;
            @include shadow(0 0 5px rgba(109,
            207,
            246,
            .5));
        }
    }
    .kv-v2 .bg-animate {
        height: 5em;
        .line {
            top: -9em;
        }
        .sun,
        .cloud,
        .pathcloud {
            width: 70px;
        }
    }
}

@media (max-width:414px) {
    .kv-container {
        height: 28em;
        .kv-robot2,
        .kv-man1 {
            display: none;
        }
        .kv-sun {
            right: 0%;
            top: 2.5em;
            width: 70px;
            height: 70px;
        }
        .kv-robot3 {
            right: 0;
        }
        .kv-man2 {
            left: 40%;
            top: 5em;
        }
        .kv-woman-bike1 {
            top: 5em;
            right: 22%;
        }
        .kv-man3 {
            left: 0%;
        }
        .kv-car {
            width: 100px;
            height: 55px;
            bottom: 4em;
            right: 7%;
        }
        .kv-icon1 {
            width: 35px;
            height: 30px;
            top: 11em;
        }
        .kv-cloud2 {
            top: 3em;
        }
        .kv-icon2 {
            left: 3%;
        }
        @keyframes kv-cloud1 {
            0% {
                right: 53%;
            }
            50% {
                right: 58%;
            }
            100% {
                right: 53%;
            }
        }
        @keyframes kv-cloud2 {
            0% {
                left: 10%;
            }
            50% {
                left: 15%;
            }
            100% {
                left: 10%;
            }
        }
        @keyframes kv-woman1 {
            0% {
                bottom: 4em;
                right: 45%;
            }
            50% {
                bottom: 4.5em;
                right: 48%;
            }
            100% {
                bottom: 4em;
                right: 45%;
            }
        }
        @keyframes kv-man-bike {
            0% {
                top: 7em;
                left: 14%;
            }
            50% {
                top: 6.5em;
                left: 16%;
            }
            100% {
                top: 7em;
                left: 14%;
            }
        }
        @keyframes kv-woman-bike2 {
            0% {
                bottom: 3em;
                left: 22%;
            }
            50% {
                bottom: 3.5em;
                left: 25%;
            }
            100% {
                bottom: 3em;
                left: 22%;
            }
        }
    }
    .kv-v2 .bg-animate {
        height: 5em;
        .line {
            top: -8em;
            left: -6em;
        }
        .sun {
            left: 30%;
        }
        .cloud {
            left: 5%;
        }
    }
}

//end mobile
