<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-tw" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-tw" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-tw">
<!--<![endif]-->

<head>
    <title>example-html</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/open-icons/style.css">
    <!--<link rel="stylesheet" href="assets/plugins/open-icons2/style.css">-->

    <!-- CSS For Develop -->
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body> 
       
    <!-- ====== header & content    ====== -->
    <main>
        <!-- breadcrumbs -->
        <div class="breadcrumbs" id="topicAnchor">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/index"><i class="icon-home"></i></a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li><a href="#">開發指南</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li class="active">使用規範</li>
                </ul>
            </div>
            <!--/container-->
        </div>
        <!-- end breadcrumbs -->
        <div class="container">
            <div class="row">
                <!-- Begin Sidebar Menu -->
                <div class="col-md-3">
                    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                        <!-- 資料清單 -->
                        <li class="list-group-item">
                            <a href="/devManual/desc">使用說明</a>
                        </li>
                        <li class="list-group-item active">
                            <a href="/devManual/rules">使用規範</a>
                        </li>
                        <!-- End 資料清單 -->
                    </ul>
                 </div>
                <!-- End Sidebar Menu -->
                <div class="col-md-9">
                    <div class="row">
                        <!-- headline -->
                        <div class="col-md-12">
                            <div class="headline-v1 margin-bottom-55">
                              <h2>使用規範</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end headline -->
                    <!-- main content -->
                    <div class="row context-box">
                        <div class="col-md-12">
                            <h2>政府資料開放授權條款-第1版</h2>
                            <p><small>中華民國104年7月27日訂定</small></p>
                            <p>為便利民眾共享及應用政府資料、促進及活化政府資料應用、結合民間創意提升政府資料品質及價值、優化政府服務品質，訂定本條款。</p>
                        </div>
                    </div>
                    <!--end main content -->
                </div>
            </div>
        </div>
    </main>
    <!-- ======end content ====== -->
    
    <!-- footer -->
    <footer id="footer-v3" class="footer-v3">
        <div class="copyright ">
            <div class="container ">
                <div class="row ">
                    <!-- link Info -->
                    <div class="col-md-12 ">
                        <p class="link ">
                            <a target="_blank " href="https://www.cwb.gov.tw/V7/index.htm" >中央氣象局</a> |
                            <a target="_blank " href="https://www.cwb.gov.tw/V7/private.htm">隱私權保護政策</a> |
                            <a target="_blank " href="https://www.cwb.gov.tw/V7/private.htm">資訊安全政策</a>
                        </p>
                    </div>
                    <!-- End link Info-->
                    <!-- Address -->
                    <address class="col-md-12 ">
                        <p>地址：10048臺北市中正區公園路64號<br class="visible-xs ">
                        總機：(02)2349-1000(代表號)<br class="visible-xs ">
                        氣象查詢：(02)2349-1234    地震查詢：(02)2349-1168<br class="visible-xs ">
                        請使用1024*768px螢幕解析度獲得最佳網頁瀏覽環境</p>
                    </address>
                    <!-- End Address -->
                </div>
            </div>
        </div>
    </footer>
    <!--end footer -->
    
    <!-- 會員登入 -->
    
    <div class="modal fade " id="userLogin" tabindex="-1 " role="dialog " aria-labelledby="myModalLabel " aria-hidden="true ">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button ref="closeLoginPage" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">會員登入</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form action="#" id="sky-form2" class="sky-form">
                                <fieldset>
                                    <section>
                                        <div class="row">
                                            <label class="col-md-12">郵件帳號</label>
                                            <div class="col-md-12">
                                                <label class="input">
                                                    <i class="icon-prepend icon-email"></i>
                                                    <input type="email" v-model="userid">
                                                </label>
                                                    
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <label class="col-md-12">密碼</label>
                                                <div class="col-md-12">
                                                    <label class="input">
                                                        <i class="icon-prepend icon-lock"></i>
                                                        <input type="password" v-model="password">
                                                    </label>
                                                </div>
                                        </div>
                                        </section>
                
                                        <section>
                                            <label v-if="errLogin" style="color:red"></label>
                                            <div class="row mrgbtn20">
                                                <div class="col-md-12 xs-mrgbtn20"><button type="button" class="btn-u btn-u-red btn-block rounded-2x" v-on:click="userLogin" v-bind:disabled="validating">登入</button></div>
                                            </div>
                                        </section>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Customization -->
    <script src="/devManual.js"></script>
</body>

</html>